.link {
  display: inline-block;
  /* color: var(--marketplaceColor); */
  color: white;
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
